@using PropertyManagement.Ui.Mvc.Models.RecycleBin

@model IEnumerable<RecycleBinViewModel>
@{
    ViewData["Title"] = "Recycle Bin";
}

<form>
    <div class="page-header">
        <h1>Recycle Bin</h1>
    </div>

    <div class="table-responsive">
        <table class='table'>
            <thead>
                <tr>
                    <th>Entity</th>
                    <th>Description</th>
                    <th>Deleted By</th>
                    <th>Deleted On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var entity in Model)
                {
                    <tr>
                        <td class="text-nowrap">@entity.EntityName</td>
                        <td class="text-nowrap">@entity.Description</td>
                        <td class="text-nowrap">@entity.DeletedBy</td>
                        <td class="text-nowrap">@entity.DeletedOn</td>
                        <td class="btn-group">
                            <a class="btn btn-primary mr-2" asp-action="Restore" asp-route-entity="@entity.EntityName" asp-route-id=@entity.Id>
                                Restore
                            </a>
                            <button class="btn btn-primary" asp-action="Delete" asp-route-entity="@entity.EntityName" asp-route-id=@entity.Id>
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</form>