@using PropertyManagement.Domain

@model IEnumerable<Building>
@{
    Layout = "_LayoutModal";
    ViewData["Title"] = "Recycle Bin";
}

<form>
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var building in Model)
            {
                <tr>
                    <td>@building.BuildingId</td>
                    <td>@building.BuildingName</td>
                    <td>@building.AddressLine1</td>
                    <td>@building.City</td>
                    <td>@building.ZipCode</td>
                    <td>@building.PurchaseDate.ToShortDateString()</td>
                    <td>
                        <button class="btn btn-default" asp-action="Delete" asp-route-id=@building.BuildingId>
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<button type="button" id="btnClose" class="btn btn-primary button button4">
    Close
</button>

@section scripts
    {
    <script>
        $(function () {
            $("#btnClose").click(function () {
                $('#myModal').modal('hide');
            });
        });
    </script>
}