@using PropertyManagement.Domain

@model IEnumerable<Building>
@{
    ViewData["Title"] = "Buildings";
}

<form>
    <h1>@ViewData["Title"]</h1>

    <div id='myModal' class='modal' role="dialog">
        <div class="modal-dialog modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button class="btn" asp-action="Edit">
                Add Building
            </button>
        </div>
        <button type="button" id="btnRecycleBin" class="btn">
            Recycle Bin
        </button>
    </div>

    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Zip Code</th>
                <th>Purchase Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var building in Model)
            {
                <tr>
                    <td>@building.BuildingId</td>
                    <td>@building.BuildingName</td>
                    <td>@building.AddressLine1</td>
                    <td>@building.City</td>
                    <td>@building.ZipCode</td>
                    <td>@building.PurchaseDate.ToShortDateString()</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id=@building.BuildingId>
                            <i class="fa fa-edit"></i>
                        </a>
                        <a class="btn btn-warning" onclick="return confirm('Are you sure?');" asp-action="Delete" asp-route-id=@building.BuildingId>
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@section scripts
{
    <script>
        var RecycleBinUrl = '/RecycleBin/Index';
        $(function () {
            $("#btnRecycleBin").click(function () {
                //alert('hi');
                //debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: RecycleBinUrl,
                    contentType: "application/json; charset=utf-8",
                    //data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        //debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            //$("#closebtn").click(function () {
            //    $('#myModal').modal('hide');
            //});
        });
    </script>
}
